In [10]:
import nbaapi.nbaapi as nba

In [11]:
spurs = nba.Team_info('1610612759', season='2014-15')
spurs.info()

      TEAM_ID SEASON_YEAR    TEAM_CITY TEAM_NAME TEAM_ABBREVIATION TEAM_CONFERENCE TEAM_DIVISION TEAM_CODE   W   L    PCT  CONF_RANK  DIV_RANK MIN_YEAR MAX_YEAR
0  1610612759     2014-15  San Antonio     Spurs               SAS            West     Southwest     spurs  55  27  0.671          6         3     1976     2015